@media (max-width:900px) {
    header {
        height: 70px;
    }
    .menu-btn {
        top: 16px;
        right: 40px;
    }
    .main-article_content {
        flex-direction: column;
        width: 90%;
        background-color: #30303033;
        margin-bottom: calc(var(--index)*5);
        text-align: center;
    }
    .main-article_content:nth-child(odd) {
        flex-direction: column-reverse;
    }
    .main-article_content p {
        width: 80%;
    }
}
@media (max-width:500px) {
    header {
        height: 50px;
    }
    .menu-btn {
        top: 6px;
        right: 20px;
    }
}